@font-face {

  font-family: best_font;
  src: url("font/Alcefun.woff");
}

* {
  outline: none;
  padding: 0;
  margin: 0;
  font-family: best_font;
}

body {
  height: 100vh;
}

@keyframes logoShow {
  0% {left: -100px; width: 20vh; opacity: 0%;}
  100% {left: 0; width: 10vh; opacity: 0.5;}
}

.logo {
  animation: logoShow 1s forwards; 
  width: 10vh; 
  position: fixed;
  z-index: +2;
  margin: 1%;
  opacity: 0.5;
}

@keyframes navbarSlider {
  0% {bottom: -100px;}
  100% {bottom: 0;}
}

.navbar {
  animation: navbarSlider 2s forwards; 
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 10vh;
  z-index: +2;
}

@keyframes navUp {
  0% {bottom: 0vh}
  100% {bottom: 70vh;}
}

.navbar__active {
  animation-name: navUp;
  animation-duration: .8s;
  animation-fill-mode: forwards;
}

.navbar--svg {
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
}

.navbar--wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  z-index: 4;
  
}

.navbar--flyWrap {
  margin-bottom: 3vh;
  margin-top: -3vh;
  z-index: 4;
 
}

.navbar--flyIcon {
  top: 100px;
}

#image0 {
  opacity: 50%;

}

.navbar--burgerIcon {
  font-size: 2em;
  background-color: white;
    border: none;
    z-index: 4;
}

.fas {
  color: #A835AD;
  width: 45px;
}
.navbar--icon{
  z-index: 4;
}

.navbar--icon img{
  height: 45px;
  width: 45px;
  
}

section.swiper-button-next, section.swiper-button-prev {
  display: none;
}

.swiper-container {
  background-color: grey;
  width: 100%;
  height: 100vh;
}

.swiper-container--image {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  z-index: 0;
}

.swiper--title{
  z-index: +1;
  position: fixed;
  font-size: 4em;
  text-align: center;
  color: white;
  text-shadow: 0px 2px rgba(0, 0, 0, 0.5);
  width: 100%;
}

.swiper--title-active{
  padding-bottom: 30vh;
}

.swiper-container .swiper-slide {
  width: 100%;
}

.swiper-slide{   
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -3;
}

@keyframes from {
  0% {bottom: -300px;}
  100% {bottom: 0;}
}

.chatBot {
  animation-name: from;
  animation-duration: .6s;
  animation-fill-mode: forwards;
  position: absolute;
  bottom: 0vh;
  height: 70vh;
  display: none;
  background-color: white;
  width: 100%;
  z-index: +4;
          flex-direction: column;
 
          justify-content: space-between;
}

#chat{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  height: 50vh;
  display: grid;
  grid-template-rows: 1fr 1fr ;
  grid-gap: 1vh;
}


 
.chat-wrap {
  width: 80%;
  background-color: white;
  border-radius: 20px;
  padding: 15px;
  color: black;
  border: solid 0.5px rgba(0, 0, 0, 0.5);
  justify-self: left;
}



.chat-answer-select {
  height: 7vh;
  width: 80%;
  background-color: #A835AD;
  border-radius: 20px;
  padding: 15px;
  color: black;
  justify-self: right;
  display: block;

}

.chat-answer-select :first-child{
display: block;
}

.chat-answer{
  margin-bottom: 10px;
  color: white;
  text-decoration: none;

}


.chatBot--messegesWrapper {
  margin: 10px;
  height: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px;
  position: relative;
  bottom: 0;
}

.chatBot--messegesWrapper input {
  font-size: 23px;
  border: solid #A835AD 1px;
}


.chatBot--messegesBar {
  width: 90%;
}

.chatBot--sendButton {
  width: 10%;
  height: 100%;
  border: none; 
  background-color: white;
}

.chatBot--sendButton img {
  width: 90%;
}

@keyframes menu {
  0% {left: -300px;}
  100% {left: 0;}
}

.burgerMenu {
  animation-name: menu;
  animation-duration: .5s;
  animation-fill-mode: forwards;
  display: none;
  position: absolute;
  bottom: 8vh;
  height: 92vh;
  width: 39%;
  border-bottom: none;
  border-left: none;
  background-color: #A835AD;
  font-size: 26px;
  z-index: 100;
  color: white;
  font-size: 23px;
}

.burgerMenu--list {
  height: 50%;
  padding-left: 10px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-content: space-evenly;
  margin-top: 25%;
  text-align: center;
}

.burgerMenu--list li {
  list-style-type: none;
}
.fromToPage__from, .fromToPage__to, .fromToPage__date__outbound, .fromToPage__date__return {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 0.2fr;
      grid-template-columns: 1fr 0.2fr;
}

/* from/to boxes */

.fromToPage__fromText, .fromToPage__toText {
  margin-left: 10px;
  margin-top: 1em;
}

.fromToPage__fromText {
  grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.fromToPage__fromText p, .fromToPage__toText p {
  margin-bottom: 2px;
}

.fromToPage__fromText input, .fromToPage__toText input {
  margin-bottom: 1em;
  font-size: 18px;
}

#myInput, #myInput2 {
  border: none;
}

.fromToPage__from, .fromToPage__to {
  border: 1px solid rgba(0, 0, 0, 0.15);
}

.dropdownContent {
  display: none;
  position: absolute;
}

.dropdownContent2 {
  display: none;
  position: absolute;
}

/* shift button */
.shift {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

#shiftImg {
  margin: 0;
  margin-left: 275px;
  margin-bottom: -77px;
  position: relative;
}

.fromToPage img, .fromToPage__date img {
  margin: auto auto;
}

/* To seperation between all steps and to make room on both sides */
.fromToPage, .fromToPage__date{
  margin-bottom: 30px;
  margin-left: 10px;
  margin-right: 10px;
}

.fromToPage__lastStep {
  margin-bottom: 25px;
  margin-left: 10px;
  margin-right: 10px;
}

/* to seperate between from/to and outbound/return */
.fromToPage__from, .fromToPage__date__outbound {
  margin-bottom: 3px;
}

.fromToPage__lastStep {
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.fromToPage__lastStep__selection1, .fromToPage__lastStep__selection2 {
  text-align: center;
}

#Roundbound, #HowMany {
  padding: 18%;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.15);
  width: 177px;
}

@keyframes from {
  0% {bottom: -300px;}
  100% {bottom: 0;}
}

.holepage {
  animation-name: from;
  animation-duration: .7s;
  animation-fill-mode: forwards;
  display: none;
  position: fixed;
  bottom: 0;
  height: 70vh;
  width: 100vw;
  padding-top: 10px;
  background-color: white;
  overflow-y: auto;
  z-index: +4;
}





/* Datepicker */
.datepicker {
  border: none;
  background: white;
  font-size: 18px;
}

.fromToPage__date__outbound, .fromToPage__date__return {
  border: 1px solid rgba(0, 0, 0, 0.15);
}


.fromToPage__date__outboundText, .fromToPage__date__returnText {
margin-top: 1em;
margin-left: 10px;
}

.datepicker {
  margin-bottom: 1em;
}

.fromToPage__date__outbound img, .fromToPage__date__return img {
  width: 40px;
  height: 40px;
}

.fromToPage__date, .fromToPage__lastStep {
  display: none;
}

.ui-datepicker {
  background-color: white;
}

/* search button */
.search {
  display: none;
}

.search__searchButton {
  display: block;
  background-color: #A835AD;
  color: white;
  border: none;
  width: 220px;
  height: 62px;
  border-radius: 25px;
  margin: 0 auto;
  font-size: 20px;
  margin-bottom: 10%;
}
/*# sourceMappingURL=style.css.map */

.body--mask{
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.466);
  z-index: 2;
  display: none;
}